.env
.env.*
!.env.example
.clever.json
.vercel
node_modules
vendor
public/build
public/hot
storage/*.key
storage/pail
.git
.gitignore
README.md
docker-compose*.yml
Dockerfile
docker-entrypoint.sh
.htaccess
phpunit.xml
.styleci.yml
.phpactor.json
.ide_helper.php
